.labelNuevoPago {
    font-weight: bold;
    text-transform: uppercase;
}


.custom-file-input ~ .custom-file-label::after {
    content: "Examinar...";
}

/* 
.containerPDF {
    border-top-width: 10px;
    border-right-width: 1em;
    border-bottom-width: thick;
    border-left-width: thin;
    margin-left: 700px;
    border-color: red;
  } */

   /* Style buttons */
.downloadbtn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.downloadbtn:hover {
  background-color: RoyalBlue;
} 
